# Java
backend/target/
*.class
*.jar

# Maven
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env
.env
.env.local

# zone identifier files
*Zone.Identifier